@font-face {
  font-family: Lora;
  src: url('../drawable/Lora//LoraRegular/LoraRegular.woff');
}

html {
  font-size: 15px;
  font-family: Lora;
}

.catalog {
  display: flex;
  flex-direction: column;
}

.catalog-container {
  display: flex;
  flex-direction: row;
}

.catalog-side-bar {
  width: 20%;
}

