@font-face {
  font-family: Lora;
  src: url('../drawable/Lora//LoraRegular/LoraRegular.woff');
}

html {
  font-size: 15px;
  font-family: Lora;
}

.header {
    background: #ececec;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.header img {
  width: 300px;
  height: 100px;
}

