

@font-face {
  font-family: Lora;
  src: url('../drawable/Lora//LoraRegular/LoraRegular.woff');
}

.search-bar {
  padding: 5px;
  width: 250px;
  height: 50px;
  justify-content: flex-start;
}

.search-bar-container {
  width: 250px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search-bar-container-input {
  border: 2px solid grey;
  height: 30px;
  width: 80%;
  padding-left: 40px;
  font-family: Lora;
}

.search-bar-container-icon {
  position: absolute;
  margin-left: 7px;
  top: 20%;
  z-index: 1;
  cursor: pointer;
}
