@font-face {
  font-family: Lora;
  src: url('../drawable/Lora//LoraRegular/LoraRegular.woff');
}

html {
  font-size: 15px;
  font-family: Lora;
}

.select-genre {
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
}

.select-genre button{
  margin: 0 10px 20px 0;
  height: 50px;
  background-color: transparent;
}
