@font-face {
  font-family: Lora;
  src: url('../drawable/Lora//LoraRegular/LoraRegular.woff');
}

*{
  font-family: Lora;
}

.menu {
  background: #ececec;
  padding: 5px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  list-style-type: none;
}

.menu-bar-element{
  color: black;
  cursor: default;
  text-decoration: none;
  outline: none;
  padding: 15px 5px;
}



.menu-bar li a:hover {
    background-color: #111;
    color: #fff;

}


