.navigation-menu{
    position: absolute;
    width: 300px;
    text-align: left;
    background: white;
    border-style: solid;
  }
    
  .navigation-menu-list{
    list-style-type: none;
    line-height: 190%;
  }
  
  .link-navigation-menu:link {
    text-decoration: none;
    color: black;
  }
  
  .link-navigation-menu:visited {
    text-decoration: none;
    color: black;
  }
  
  .link-navigation-menu:hover {
    text-decoration: underline;
    color: black;
  }
  
  .link-navigation-menu:active {
    text-decoration: underline;
    color: black;
  }
  
  .user-name{
    text-transform: uppercase;
    font-weight: bold;
  }
  